{{>navbar}}

<div class="section">
<div class="tile is-parent">
    <article class="tile is-child notification is-dark">
        <p class="title">A PROPOS</p>
       <p style="margin-top:18px;">Qui suis-je ?</p>
    </article>
</div>
</div>
<div class="container tall">
    <div class="tile is-ancestor" style="margin-top:35px;">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-dark">
                        <p class="title">DEVELOPPEUR WEB JUNIOR</p>
                        <p class="subtitle">DIPLOME DE NIVEAU 5 (ancien niveau III)</p>
                        <img src="../public/img/arinfo.png">
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">Je viens de divers domaines ...</p>
                        <p class="subtitle">lesquels ?</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-warning">
                        <p class="title">LES VOICI ...</p>
                        <p>VENDEUR</p>
                        <p>PUIS MARIN D'ETAT</p>
                        <p>ENSUITE CROUPIER</p>
                        <p>MAINTENANT, DEVELOPPEUR WEB</p>
                        <figure class="image is-4by3">
                            <img src="../public/img/codeur.jpg">
                        </figure>
                        <p></p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <p class="title">MES COMPETENCES</p>
                    <p class="subtitle"></p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-warning">
                <div class="content">
                    <p class="title">VOUS DESIREZ EN SAVOR PLUS ?</p>
                    <p class="subtitle">SUIVEZ MOI...</p>
                    <img src="../public/img/avatar.png">
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="row flip-boxes">
                <div class="col-md-3 col-sm-4 col-8 flip-box">
                    <div class="front" style="background-image: url(../public/img/php.png">
                        <div class="content text-center">
                            <br>
                            <span class="click-for-more">
                            </span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau débutant</h2>
                            <h3>PHP</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/html5.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>HTML5</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/nodejs.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>NODEJS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row flip-boxes">
                <div class="col-md-3 col-sm-4 col-8 flip-box">
                    <div class="front" style="background-image: url(../public/img/mysql.png);">
                        <div class="content text-center">
                            <br>
                            <span class="click-for-more">
                            </span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau débutant</h2>
                            <h3>MYSQL</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/css3.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>CSS3</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/npm.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>NPM</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row flip-boxes">
                <div class="col-md-3 col-sm-4 col-8 flip-box">
                    <div class="front" style="background-image: url(../public/img/phpMy.png);">
                        <div class="content text-center">
                            <br>
                            <span class="click-for-more">
                            </span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau débutant</h2>
                            <h3>PHPMYADMIN</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/js.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>JAVASCRIPT</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front" style="background-image: url(../public/img/mongoDB.png);">
                    </div>
                    <div class="back">
                        <div class="content">
                            <h2>Niveau intermédiaire</h2>
                            <h3>MONGODB</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="tile is-parent">
    <article class="tile is-child notification is-dark">
        <p class="title">MES TRAVAUX</p>
        <p class="subtitle"></p>
    </article>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../public/img/phil.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="../public/img/js.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">DESMARETZ STEPHANE &</p>
                            <p class="subtitle is-6">MARNETTO VICTOR</p>
                        </div>
                    </div>

                    <div class="content">
                        Un jeu réalisé pendant la formation de développeur web et mobile.
                        <a href="https://desarinfo85.github.io/philSquirel/" target="_blank">PHILLSQUIREL</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../public/img/crypto.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="../public/img/brave.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">J' UTILISE BRAVE</p>
                        </div>
                    </div>
                    <div class="content">
                        Vous pouvez rejoindre la communauté brave via ce site <a href="https://cryptogratuite.ovh"
                            target="_blank">CRYPTOGRATUITE</a>. Ou
                        <a href="https://brave.com/ixr885" target="_blank">TELECHARGER BRAVE</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../public/img/github1.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="../public/img/github.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">MON GITHUB</p>
                            <p class="subtitle is-6">plusieurs dépôts</p>
                        </div>
                    </div>
                    <div class="content">
                        retrouvez plusieurs de mes ouvrages durant la formation chez ARINFO
                        <a href="https://github.com/Desarinfo85">GITHUB</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="tile is-parent">
    <article class="tile is-child notification is-dark">
        <p class="title">MON CV</p>
        <p class="subtitle"></p>
    </article>
</div>
<div class="container">
    <div class="block">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-dark">
                            <p class="title">LES TUTOS DE STEPHANE</p>
                            <p class="subtitle">INSTALLER UN SERVEUR XAMPP AVEC LINUX</p>
                            <p>XAMPP (Multiplateforme, Apache, MySQL, PHP, Perl) est une distribution Apache qui vous
                                sert à créer un serveur web en local pour faire du développement web et réaliser des
                                tests. Il fonctionne comme un serveur web en direct, ce qui vous permet de tester vos
                                sites et vos applications web. XAMPP est très facile à configurer, et la plupart de
                                l'installation est automatisée.</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="subtitle">1 Rendez-vous sur la page <a
                                    href="https://www.apachefriends.org/download.html" target="_blank">apache
                                    friends</a></p>
                            <p class="subtitle">2 Ouvrez le Terminal. Avant que vous puissiez installer XAMPP, vous
                                devrez modifier les autorisations du fichier téléchargé afin qu’il puisse être exécuté.
                            </p>
                            <p class="subtitle">3 Entrez la commande suivante: sudo chmod +x
                                xampp-linux-x64-7.1.33-0-installer.run</p>
                            <p class="subtitle">4 Exécutez le programme d'installation: sudo
                                ./xampp-linux-x64-7.1.33-0-installer.run</p>
                            <p class="subtitle">5 Suivez les instructions pour installer XAMPP</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-warning">
                            <p class="title">Téléchargez mon CV</p>
                            <p class="subtitle">au format PDF</p>
                            <p><a href="../public/pdf/desmaretz_cv.pdf" download="CV_Desmaretz"><i
                                        class="fa fa-download fa-3x"> ici</i></a></p>
                            <figure class="image is-4by3" style="margin-top:4rem;">
                                <img src="../public/img/cv.png" alt="une image de mon CV">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-dark">
                        <p class="title">Démarrez le service XAMPP</p>
                        <p class="subtitle">sudo /opt/lampp/lampp start</p>
                        <p>Depuis votre navigateur web tapez http://localhost/xampp/ </p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <div class="content">
                        <p class="title">Installer NODEJS</p>
                        <p class="subtitle"># Using Ubuntu
                            curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
                            sudo apt-get install -y nodejs</p>
                        <div class="content">
                            <p class="subtitle">pour d'autres versions de nodeJS rendez vous sur la page <a href="https://github.com/nodesource/distributions/blob/master/README.md" target="_blank">NodeSources</a></p>
                        </div>
                        <div class="content">
                           <figure>
                               <img src ="../public/img/nodejsNpm.jpg" alt="une image logo nodejs">
                           </figure>

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>